* {
  padding: 0;
  margin: 0;
  font-family: 'Questrial', sans-serif;
}

html {
  height: auto !important;
}

body {
  height: auto !important;
  min-width: 810px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.footer {
  padding: 60px;
  text-align: center;
  z-index: 1;
  color: white;
  background: #1b1b1b;
  position: relative;
}

.portfolio {
  z-index: 99;
  position: relative;
  box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.15);
  background: #e9fff4;
  padding: 50px;
}

.portfolio-item-wrap {
  opacity: 0;
  transform: translateY(100px);
  transition: all 700ms ease;
}

.section-six {
  background: white;
  color: black;
  z-index: 99;
  position: relative;
}

.portfolio-item {
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 10px 5px;
  padding: 70px 20px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
  background: white;
  border-top: 4px solid rgb(93, 209, 178);
  transition: all 200ms ease-out;
  cursor: pointer;
}

.portfolio-item:hover {
  transform: translateY(-10px);
  background: #c7e7f9;
  /*background: -webkit-linear-gradient(-45deg, #F45035 0%, #E31371 30%, #373990: 100%) no-repeat fixed center;
  background: -webkit-linear-gradient(135deg, #F45035 0%, #E31371 30%, #373990: 100%) no-repeat fixed center;
  background: linear-gradient(-45deg, #F45035 0%, #E31371 30%, #373990 100%) no-repeat fixed center;*/
}

.port-link {
  white-space: nowrap;
  margin-bottom: 10px;
}

.section-rule {
  background: black;
  margin-bottom: 20px;
}

.role {
  margin-bottom: 20px;
}

@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes rule-grow {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes rule-grow {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes levitate {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-9px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-9px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0px);
  }
}

.section-one {
  height: 100vh;
  background: #fffff4;
  box-shadow: 0px 0px 20px 0px;
  z-index: 1;
  position: relative;
}

h2 {
  margin-bottom: 20px;
}

.squares {
  margin-top: 20px;
}

.work-item {
  margin-bottom: 50px;
}

.duration {
  margin-bottom: 10px;
  color: #54b391;
}

.box {
  transform: translateY(-50px);
  opacity: 0;
  background: #9ae4ca;
  width: 0px;
  height: 0px;
  margin: 10px auto;
  animation-name: levitate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transition: all 500ms ease;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
}

.rise-width {
  transform: translateY(0px);
  opacity: 1;
  width: 80px;
  height: 80px;
}

.righty {
  padding: 50px;
}

.lefty {
  background: #1a1f29;
}

.fixed-container {
  position: fixed;
  top: 25%;
  left: 15%;
}

.rule-grow {
  -webkit-animation: rule-grow .5s forwards;
  animation: rule-grow .5s forwards;
  animation-timing-function: ease;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.rule-grow-long {
  -webkit-animation: rule-grow 1.7s forwards;
  animation: rule-grow 1.7s forwards;
  animation-timing-function: ease;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.full-height {
  height: auto !important;
}

.row {
  margin: 0 !important;
}

.body {
  margin: 0 auto 0 auto;
  display: block;
  padding: 0 !important;
}

.sidebar {
  background: rgb(31, 32, 37);
  color: white;
  padding-top: 20px;
  height: auto;
  border-right: 1px solid #333333;
}

.section {
  padding: 50px;
  padding-bottom: 0;
}

.text-align-center {
  text-align: center;
}

.nav-icon {
  transition: all 300ms ease;
  cursor: pointer;
  font-size: 20px !important;
  /*position: fixed;
  left: 3.4%;*/
}

.sidebar-nav {
  height: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  width: 0;
  background: white;
  transition: all 300ms ease;
  padding: 15px;
  -webkit-box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  opacity: 0;
}

.sidebar-shown {
  z-index: 999;
  width: 150px;
  opacity: 1;
}

.nav-icon-close {
  float: right;
  opacity: 0;
  transition: all 500ms ease;
}

.icon-appear {
  opacity: 1;
  transform: rotate(360deg);
}

.sidebar-list {
  margin-top: 50px;
  list-style: none;
  opacity: 0;
}

.hidden, .anim-el, .anim-el-secondary {
  opacity: 0;
  transition: all 500ms ease-out;
  transform: translateY(50px);
}

.rise {
  opacity: 1;
  transform: translateY(0px);
}

.link-list-item {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.rule {
  width: 0%;
  opacity: 0;
  margin: 5px auto;
  background: black;
}

.thin-header {
  font-weight: 100;
}

.text-align-right {
  text-align: right;
}
