* {
  padding: 0;
  margin: 0;
  font-family: 'Questrial', sans-serif;
}

html {
  height: auto !important;
}

body {
  height: auto !important;
}

h1 {
  font-size: 50px;
}

@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes rule-grow {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes rule-grow {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes levitate {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-9px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-9px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0px);
  }
}

.section-one {
  height: 100vh;
  background: #fffff4;
}

.squares {
  margin-top: 20px;
}

.box {
  transform: translateY(-50px);
  opacity: 0;
  background: #f7a1a1;
  width: 0px;
  height: 0px;
  margin: 10px auto;
  animation-name: levitate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transition: all 500ms ease;
}

.rise {
  transform: translateY(0px);
  opacity: 1;
  width: 80px;
  height: 80px;
}

.righty {
  padding: 50px;
  box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.3);
}

.lefty {
  /*background: #ffe1e1;*/
  background: #1a1f29;
}

.inner-box {
  background: -webkit-linear-gradient(-45deg, #F45035 0%, #E31371 30%, #373990: 100%) no-repeat fixed center;
  background: -webkit-linear-gradient(135deg, #F45035 0%, #E31371 30%, #373990: 100%) no-repeat fixed center;
  background: linear-gradient(-45deg, #F45035 0%, #E31371 30%, #373990 100%) no-repeat fixed center;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.3);
  transform: translateX(-100px);
}

.box-a {
  transform: translateX(-100px);
}

.box-b {
  transform: translateX(50px);
}

.box-c {
  transform: translateX(-100px);
}

.rule-grow {
  -webkit-animation: rule-grow .5s forwards;
  animation: rule-grow .5s forwards;
  animation-timing-function: ease;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.full-height {
  height: auto !important;
}

.row {
  margin: 0 !important;
}

.body {
  margin: 0 auto 0 auto;
  display: block;
  padding: 0 !important;
}

.sidebar {
  background: rgb(31, 32, 37);
  color: white;
  padding-top: 20px;
  /*position: fixed;*/
  height: auto;
  border-right: 1px solid #333333;
}

.section {
  padding: 50px;
  padding-bottom: 0;
}

.text-align-center {
  text-align: center;
}

.nav-icon {
  transition: all 300ms ease;
  cursor: pointer;
  font-size: 20px !important;
}

.sidebar-nav {
  height: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  width: 0;
  background: white;
  transition: all 300ms ease;
  padding: 15px;
  -webkit-box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  opacity: 0;
}

.sidebar-shown {
  z-index: 999;
  width: 150px;
  opacity: 1;
}

.nav-icon-close {
  float: right;
  opacity: 0;
  transition: all 500ms ease;
}

.icon-appear {
  opacity: 1;
  transform: rotate(360deg);
}

.sidebar-list {
  margin-top: 50px;
  list-style: none;
  opacity: 0;
}

.anim-el, .anim-el-secondary {
  opacity: 0;
  transition: all 500ms ease-out;
  transform: translateY(50px);
}

.rise-no-width {
  opacity: 1;
  transform: translateY(0px);
}

.link-list-item {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.rule {
  width: 0%;
  opacity: 0;
  margin: 5px auto;
}

.thin-header {
  font-weight: 100;
}

.text-align-right {
  text-align: right;
}
